@model IEnumerable<Cookies.Models.CustomerLedger>

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header text-center">Total Purchased</div>
            <div class="card-body text-center">
                <h4 class="card-title">@ViewBag.Purchased</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header text-center">Total Paid</div>
            <div class="card-body text-center">
                <h4 class="card-title">@ViewBag.Paid</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header text-center">To Be Paid</div>
            <div class="card-body text-center">
                <h4 class="card-title">@ViewBag.ToBePaid</h4>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover text-nowrap" id="table2">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.cl_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cl_acc_type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cl_inv_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cl_amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cl_cre_by_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cl_cre_date)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cl_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cl_acc_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cl_inv_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cl_amount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.cl_cre_by_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cl_cre_date)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
